USE [wsruser1]
GO
/****** Object:  Table [dbo].[Conferences]    Script Date: 16.10.2023 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conferences](
	[ConfId] [int] IDENTITY(1,1) NOT NULL,
	[ConfName] [varchar](50) NOT NULL,
	[ConfDate] [date] NOT NULL,
	[ConfPlace] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Conferences] PRIMARY KEY CLUSTERED 
(
	[ConfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 16.10.2023 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[RepId] [int] IDENTITY(1,1) NOT NULL,
	[RepTheme] [varchar](140) NOT NULL,
	[RepImage] [varchar](50) NULL,
	[RepAuthor] [int] NOT NULL,
	[RepConf] [int] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[RepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scientists]    Script Date: 16.10.2023 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scientists](
	[ScId] [int] IDENTITY(1,1) NOT NULL,
	[ScFIO] [varchar](100) NOT NULL,
	[ScDeg] [varchar](15) NOT NULL,
	[ScCountry] [varchar](50) NOT NULL,
	[ScOrg] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Scientists] PRIMARY KEY CLUSTERED 
(
	[ScId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conferences] ON 

INSERT [dbo].[Conferences] ([ConfId], [ConfName], [ConfDate], [ConfPlace]) VALUES (1, N'Международная экономическая конференция', CAST(N'2023-03-04' AS Date), N'Республика Беларусь, Минск')
INSERT [dbo].[Conferences] ([ConfId], [ConfName], [ConfDate], [ConfPlace]) VALUES (2, N'Международная физико-математическая конференция', CAST(N'2023-06-06' AS Date), N'Российская Федерация, Санкт-Петербург')
SET IDENTITY_INSERT [dbo].[Conferences] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([RepId], [RepTheme], [RepImage], [RepAuthor], [RepConf]) VALUES (3, N'Голограмма и ее применение', N'/Images/image1.jpg', 1, 2)
INSERT [dbo].[Reports] ([RepId], [RepTheme], [RepImage], [RepAuthor], [RepConf]) VALUES (4, N'Экономика предприятия пищевой промышленности и ее специфика в области инвестиций', NULL, 2, 1)
INSERT [dbo].[Reports] ([RepId], [RepTheme], [RepImage], [RepAuthor], [RepConf]) VALUES (5, N'Большой адронный коллайдер — путь к апокалипсису или прогрессу?', NULL, 3, 2)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Scientists] ON 

INSERT [dbo].[Scientists] ([ScId], [ScFIO], [ScDeg], [ScCountry], [ScOrg]) VALUES (1, N'Ульянов Дмитрий Даниилович', N'д.ф.-м.н.', N'Российская Федерация', N'Москоовский госудаарственный университеет иимени М. В. Ломоноосова')
INSERT [dbo].[Scientists] ([ScId], [ScFIO], [ScDeg], [ScCountry], [ScOrg]) VALUES (2, N'Волошин Руслан Игоревич', N'д.э.н.', N'Российская Федерация', N'Государственный гуманитарно-технологический университет')
INSERT [dbo].[Scientists] ([ScId], [ScFIO], [ScDeg], [ScCountry], [ScOrg]) VALUES (3, N'Васильева Анастасия Егоровна', N'д.ф.-м.н.', N'Республика Беларусь', N'Барановичский государственный университет')
SET IDENTITY_INSERT [dbo].[Scientists] OFF
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Conferences] FOREIGN KEY([RepConf])
REFERENCES [dbo].[Conferences] ([ConfId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Conferences]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Scientists] FOREIGN KEY([RepAuthor])
REFERENCES [dbo].[Scientists] ([ScId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Scientists]
GO
